/* Typesetter.css Ⓒ2012 Timothy Allen | https://gitorious.org/typesetter-css/ */
html {
  font-size: 1em;
  line-height: 1.25rem;
  text-align: justify;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
body {
  width: 35rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.25rem 0;
}
h1 {
  font-size: 2.5rem;
  line-height: 3.75rem;
  text-align: center;
}
h2 {
  font-size: 1.875rem;
  line-height: 1.25rem;
}
h3 {
  font-size: 1.5625rem;
  line-height: 1.25rem;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.25rem;
}
h5 {
  font-size: 0.9375rem;
  line-height: 1.25rem;
}
h6 {
  font-size: 0.625rem;
  line-height: 1.25rem;
}
h2,
h3 {
  padding-top: 0.625rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.125rem solid;
}
p,
div,
ul,
ol,
blockquote,
address,
table,
pre {
  margin: 1.25rem 0;
}
li p:first-child,
dd p:first-child {
  margin-top: 0;
}
li p:last-child,
dt p:last-child {
  margin-bottom: 0;
}
p + p {
  text-indent: 1.25rem;
}
ul,
ol {
  padding-left: 0;
  margin-left: 2.5rem;
}
li ul,
li ol {
  margin-top: 0;
  margin-bottom: 0;
}
dt {
  font-weight: bolder;
  margin-top: 1.25rem;
}
dd {
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
}
blockquote {
  padding: 0 1.25rem;
}
table {
  margin-left: auto;
  margin-right: auto;
}
thead {
  border-bottom: 0.125rem solid currentColor;
}
tfoot {
  border-top: 0.125rem solid currentColor;
}
thead th,
tfoot th,
thead td,
tfoot td {
  line-height: 1.125rem;
}
td,
th {
  font-size: 0.75rem;
  padding: 0 0.625rem;
}
td:first-child,
th:first-child {
  padding-left: 0;
}
td:last-child,
th:last-child {
  padding-right: 0;
}
pre {
  padding: 1.25rem 0;
  border-left: 0.125rem solid;
  padding-left: 1.125rem;
  font-size: 0.75rem;
}
hr {
  color: inherit;
  margin: 1.25rem 0;
  margin-top: -0.125rem;
  padding: 0;
  border: none;
  border-top: 0.125rem solid;
  height: 0;
}
aside,
nav {
  font-size: 0.75rem;
  line-height: 1.25rem;
}
aside h1,
nav h1 {
  line-height: 1.25rem;
}
aside h1,
nav h1 {
  font-size: 1rem;
}
aside h2,
nav h2 {
  font-size: 0.875rem;
}
aside h3,
nav h3 {
  font-size: 0.750rem;
}
aside h2,
nav h2,
aside h3,
nav h3 {
  line-height: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.125rem;
  border-bottom: 0.125rem solid;
}
/* By default, navigation should appear inline */
nav {
  text-align: center;
  /* Flatten the navigation hierarchy */

  /* Use vertical bars to separate each item. */

}
nav ul {
  margin-left: 0;
}
nav ul,
nav li {
  display: inline;
}
nav ul li:first-child:before {
  content: '';
}
nav ul li:before {
  content: ' | ';
}
nav ul ul:before {
  content: ' | ';
}
/*
 * By default, asides should appear inline, but narrower because they have
 * a smaller font size.
 */
aside {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
}
/* If we have sufficient width to put stuff on the sides... */
@media (min-width: 62.5rem) {
  aside,
  nav {
    margin: 1.25rem;
    margin-top: 0;
    padding: 0 1.25rem;
    outline: 0.125rem solid;
    width: 10rem;
  }
  aside {
    clear: right;
    float: right;
    margin-right: -13.75rem;
  }
  nav {
    text-align: left;
    clear: left;
    float: left;
    margin-left: -13.75rem;
    /* Now we have room to display the hierarchy */
  
  }
  nav ul,
  nav li {
    display: block;
  }
  nav ul ul {
    margin-left: 1.25rem;
  }
  nav ul li:before {
    content: '';
  }
  nav ul ul:before {
    content: '';
  }
}
/* Special support for footnotes from Pandoc */
div.footnotes {
  font-size: 0.75rem;
}
