/* Typesetter.css Ⓒ2012 Timothy Allen | https://gitorious.org/typesetter-css/ */
html {
  background: #fffcf0;
  color: #333350;
}
:link {
  color: #55C;
}
:link:hover {
  color: #33E;
  background: rgba(0, 0, 0, 0.1);
}
:visited {
  color: #848;
}
:visited:hover {
  color: #A3A;
}
:link:active,
:visited:active {
  color: #E33;
}
blockquote {
  /*
     * This overflow setting prevents the margins on blockquote's contents from
     * collapsing with blockquote's siblings, which means our border and
     * background will be nicely separate.
     */

  overflow: hidden;
  background: rgba(0, 0, 0, 0.1);
}
tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}
